<?xml version="1.0"?>
<config>
  <systems>
    <system slug="snes">
      <name>Super NES</name>
      <emulatorName>ZSNES</emulatorName>
      <emulatorPath>/usr/bin/zsnes </emulatorPath>
    </system>
    <system slug="gen">
      <name>Sega Genesis</name>
      <emulatorName>dgen</emulatorName>
      <emulatorPath>/usr/bin/dgen -f </emulatorPath>
    </system>
  </systems>
  <roms>
    <rom system="snes">
      <name>Chrono Trigger</name>
      <thumbnailPath>/home/jesse/Documents/ROMs/covers/Chrono Trigger.jpg</thumbnailPath>
      <publisher>Squaresoft</publisher>
      <year>1995</year>
      <path>/home/jesse/Documents/ROMs/Chrono Trigger.smc</path>
      <description>The Millenium. A portal is opened. The chain of time is broken. A young man is transported into the past, altering the course of history and the outcome of the future. If he does not restore the order of time, nothing will ever be the same. He is the one who will become a hero. He is Crono.</description>
    </rom>
    <rom system="gen">
      <name>Sonic the Hedgehog</name>
      <thumbnailPath>/home/jesse/Documents/ROMs/covers/Sonic the Hedgehog.jpg</thumbnailPath>
      <publisher>Sega</publisher>
      <year>1991</year>
      <path>/home/jesse/Documents/ROMs/Sonic the Hedgehog.md</path>
      <description>Bust the video game speed barrier wide open with Sonic the Hedgehog. Blaze by in a blut using the super sonic spin attack. Loop the loop by defying gravity. Plummet down tunnels. Then dash to safety with Sonic&apos;s power sneakers. All at a frenzied pace.</description>
    </rom>
    <rom system="gen">
      <name>Herzog Zwei</name>
      <thumbnailPath>/home/jesse/Documents/ROMs/covers/Herzog Zwei.jpg</thumbnailPath>
      <publisher>TechnoSoft</publisher>
      <year>1989</year>
      <path>/home/jesse/Documents/ROMs/Herzog Zwei.md</path>
      <description>&quot;Eins! Zwei! Drei!&quot; In the murky dawn the tyrant&apos;s troops scuffle towards foxholes and tanks. Taking battle position, they quickly check their equipment and load cannons. Then they hunker down, awaiting the cry: &quot;Attacke!&quot; &quot;Hup! Two! Three! Four!&quot; On your order, rebel soldiers race to their war machines!</description>
    </rom>
  </roms>
</config>
