<?xml version="1.0"?>
<config>
  <systems>
    <system slug="snes">
      <name>Super NES</name>
      <emulatorName>ZSNES</emulatorName>
      <emulatorPath>/usr/bin/zsnes </emulatorPath>
    </system>
    <system slug="gen">
      <name>Sega Genesis</name>
      <emulatorName>dgen</emulatorName>
      <emulatorPath>/usr/bin/dgen -f </emulatorPath>
    </system>
  </systems>
  <roms>
    <rom system="snes">
      <name>Chrono Trigger</name>
      <thumbnailPath>/home/jesse/Documents/ROMs/covers/Chrono Trigger.jpg</thumbnailPath>
      <publisher>Squaresoft</publisher>
      <year>1995</year>
      <path>/home/jesse/Documents/ROMs/Chrono Trigger.smc</path>
    </rom>
    <rom system="gen">
      <name>Sonic the Hedgehog</name>
      <thumbnailPath>/home/jesse/Documents/ROMs/covers/Sonic the Hedgehog.jpg</thumbnailPath>
      <publisher>Sega</publisher>
      <year>1991</year>
      <path>/home/jesse/Documents/ROMs/Sonic the Hedgehog.md</path>
      <description>Bust the video game speed barrier wide open with Sonic the Hedgehog. Blaze by in a blut using the super sonic spin attack. Loop the loop by defying gravity. Plummet down tunnels. Then dash to safety with Sonic&apos;s power sneakers. All at a frenzied pace.</description>
    </rom>
    <rom system="gen">
      <name>Herzog Zwei</name>
      <thumbnailPath>/home/jesse/Documents/ROMs/covers/Herzog Zwei.jpg</thumbnailPath>
      <publisher>TechnoSoft</publisher>
      <year>1989</year>
      <path>/home/jesse/Documents/ROMs/Herzog Zwei.md</path>
    </rom>
  </roms>
</config>
